Budgeter/obj/
Budgeter/bin/
.vs/Budgeter/v16/
~$t Notes .docx
.vs/Budgeter/v16/.suo
.vs/Budgeter/v16/Server/sqlite3/storage.ide
.vs/Budgeter/v16/Server/sqlite3/storage.ide-shm
.vs/Budgeter/v16/Server/sqlite3/storage.ide-wal
